.modal-footer {  
    border-top: 0px;
}

#error{
    color:red;
}

#form-subtext{
    color:#888;
    padding-left:17px;
}

body {
    padding-top: 70px;
}

#primary-content{
    float:none;
    margin: 0 auto"
}
a{
    border-bottom:none;   
}

a:hover{
    color: deepskyblue;
    text-decoration: none;
}

#taglist:hover{
    color:black;
}

.post-list{
    list-style-type: none;  
    padding-left:0;
}

#submit-button{
    color:white
}

.voter{
    text-align: center;   
    color:#888;
    font-size:18px;
    /*    line-height: 20px;*/
}

.up:hover{
    color:#FF8097;
}

.up-voted{
    color:#FF3D61;
}

.up-voted:hover{
    color:#FF8097;
}


.down{
    padding-top:3px;   
}
.down:hover{
    color:#8DC7F0;   
}

.down-voted{
    padding-top:3px;
    color:#48AEF7;   
}

.down-voted:hover{
    color:#8DC7F0;
}


.vcenter{
    top: 20px;
    /*    display: inline-block;*/
    /*    vertical-align: middle;*/
    /*    float: none;*/
}   

h2