<!--begin subnav   -->
<div class="row ">
    <div style = "margin-left:0;" class = "btn-group btn-block btn-group-md">
        <a id = "posts-button" class="btn btn-primaryrect " ng-href = "#my_posts">Posts by {{user.username}}</a>

        <a id = "comments-button" class="btn btn-primary rect" ng-href = "#my_comments">Comments by {{user.username}}</a>

        <a id = "tags-button" class="btn btn-primary rect active" ng-href = "#my_tags">Manage tags</a>
    </div>
</div>
<!--End subnav-->


<div class="col-md-8" style="float:none; margin: 0 auto">



    <ul class = "post-list" ng-repeat="tag in subscriptions">
        <!--        Start Post      -->
        <li>

            <div class="row">   

                <div class="col-xs-11">
                    <h2><a ng-href = "#tag?id={{tag.id}}&name={{tag.name}}">{{tag.name}}</a></h2>

                    <ul class="list-inline">

                        <li><span><i class="glyphicon glyphicon-user"></i> {{tag.subscribers}} subscribers </span></li>
                        <li>
                            <button ng-click="unsubscribe(tag.id)" class = "btn btn-primary"> unsubscribe </button>
                        </li>
                        <li>
                            <button ng-click="unsubscribe(tag.id)" class = "btn btn-primary"> unsubscribe </button>
                        </li>


                    </ul>
                </div>
            </div>
        </li>

        <!--        End Post        -->
    </ul>


</div>